extends ../layout

block content
  .page-header
    h3 Profile Information

  .row
    .col-sm-2
    .col-sm-8
      form.form-horizontal(action='/account/profile', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group.label-floating
          label.control-label(for='email') Your Email
          input.form-control(type='email', name='email', id='email', value=user.email)
          span.help-block Your email. Will be used for your gravatar
        .form-group.label-floating
          label.control-label(for='name') Name
          input.form-control(type='text', name='name', id='name', value=user.name)
          span.help-block Your name
        .form-group
          label.control-label Gender
          .radio
            label
              input(type='radio', checked=user.gender=='male', name='gender', value='male', data-toggle='radio')
              | Male
            label
              input(type='radio', checked=user.gender=='female', name='gender', value='female', data-toggle='radio')
              | Female
            label
              input(type='radio', checked=user.gender=='other', name='gender', value='other', data-toggle='radio')
              | Other
        .form-group.label-floating
          label.control-label(for='name') Location
          input.form-control(type='text', name='location', id='location', value=user.location)
          span.help-block Where do you come from  
        .form-group.label-floating
          label.control-label(for='website') Website
          input.form-control(type='text', name='website', id='website', value=user.website)
          span.help-block   
        .form-group
          label.control-label Gravatar
          .col-sm-offset-1
            img(src=user.gravatar(), class='profile', width='100', height='100')
        .form-group
          button.btn.btn-raised.btn-primary(type='submit')
            i.fa.fa-pencil
            | Update Profile

  .page-header
    h3 Change Password

  .row
    .col-sm-2
    .col-sm-8
      form.form-horizontal(action='/account/password', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group.label-floating
          label.control-label(for='password') New password
          input.form-control(type='password', name='password', id='password')
          span.help-block Input your new password  
        .form-group.label-floating
          label.control-label(for='confirmPassword') Confirm password
          input.form-control(type='password', name='confirmPassword', id='confirmPassword')
          span.help-block Confirm your new password  
        .form-group
            button.btn.btn-raised.btn-primary(type='submit')
              i.fa.fa-lock
              | Change Password

  .page-header
    h3 Delete Account

  .row
    .col-sm-2
    .col-sm-8
      form.form-horizontal(action='/account/delete', method='POST')
        .form-group
          | You can delete your account, but keep in mind this action is irreversible.
        .form-group
          input(type='hidden', name='_csrf', value=_csrf)
          button.btn.btn-raised.btn-danger(type='submit')
            i.fa.fa-trash
            | Delete my account
